/.idea
/.vscode
/app/
/bootstrap/
/vendor/bin
/backup
/config
/database
/html
/node_modules
/public
/resources
/routes
/storage
/tests
/.env
/robots.txt
/.env.example
/.htaccess
/artisan
/composer.json
/composer.lock
/index.php
/Document.docx
/secret.txt
/README.md
/web.config
/webpack.mix.js
/server.php
/favicon.ico
/package.json
/package-lock.json
/tasks.txt
/phpunit.xml